<div class="panel panel-default">
  <div class="panel-heading">Login As:</div>
  <div class="panel-body">
    <div class="text-center">
      <h1>Welcome Peeps!</h1>
      <%= link_to "Teacher", new_teacher_session_path %> | <%= link_to "Student", new_member_session_path %>
    </div>
  </div>
</div>
