<div class="panel panel-default">
  <div class="panel-heading">Login As:</div>
  <div class="panel-body">
    <div class="text-center">
      <% @schedules.each do |schedule| %>
        <%= schedule.lesson.name %>
        <%= schedule.lesson.description %>
        <%= schedule.daterange %>
      <% end %>
    </div>
  </div>
</div>
